@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Main Banner */
.kontakt-banner {
  color: white;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-image: url(/src/img/viking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.kontakt-banner h1 {
  font-size: 50px;
  margin-bottom: 30%;
  color: rgb(66, 17, 57);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  animation: fadeInScale 1.5s ease-out forwards;
}

/* Whole Container */
.kontakt-whole-container {
  background-color: #f0f0f0;
  background: linear-gradient(#24aeeeff, rgba(97, 202, 212, 0.5)),
    url("/src/img/water.jpeg");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 70s linear infinite;
  margin: 0 auto;
  padding-bottom: 0;
}

/* Contact Container */
.contact-container {
  font-family: "Poppins", sans-serif;
  max-width: 1000px;
  text-align: left;
  margin: 30px auto;
  padding: 40px;
  background-color: rgba(49, 167, 221, 0.818);
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  font-weight: 600;
}

p {
  line-height: 1.8;
  color: #383434;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  margin-bottom: 8px;
  color: #333;
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #2621b0;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 50px;
  border: none;
  border-radius: 8px;
  background-color: #260b79;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.contact-form button:hover {
  background-color: #5b1d74;
  transform: scale(1.05);
}

