/* Body Styles */
html, body {
    height: 100%; /* Make sure body takes full height */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Background container */
.bg {
    background-image: url(/src/img/BoD-Board.webp);
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 1em;
    height: 100vh; /* Full height of viewport */
}

/* Login Container Styles */
.login-container {
    color: white;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 90%;
    max-width: 400px;
    padding: 1.5em;
    background-color: #260933;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Heading Styles */
h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 1em;
}

/* Input Group Styles */
.input-group {
    margin-bottom: 1em;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 0.5em;
}

/* Input Styles */
input {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit Button Styles */
.submit-btn {
    width: 100%;
    padding: 0.8em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Submit Button Hover Effect */
.submit-btn:hover {
    background-color: #45a049;
}

/* Signup Option Styles */
.signup-option {
    text-align: center;
    margin-top: 1em;
}

/* Toggle Link Styles */
.toggle-link {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .login-container {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .login-container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .login-container {
        width: 30%;
    }
}
