@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.nyheder-banner {
  color: white;
  height: 45em;
  text-align: center;
  background-image: url(/src/img/viking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #ffffff;
  font-weight: bold;
  font-family: "Yatra One", sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0;
}

h5 {
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.grid {
  background-color: #005f79;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  padding: 7em;
  justify-items: center;
}

.grid-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #3da2b1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.grid-item:hover {
  transform: translateY(-10px);
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-position: center;
}

h3,
h5,
p {
  font-family: "Poppins", sans-serif;
  padding: 1em;
  margin: 0;
}

.grid-item p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .banner {
    height: 30em;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 3em;
  }

  .grid-item {
    margin-bottom: 2em;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 20em;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
  }

  .grid-item {
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  .grid-item p {
    font-size: 0.9rem;
  }
}