@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.parents-whole-container {
  background: linear-gradient(#24aeeeff, rgba(44, 51, 153, 0.5)),
    url("/src/img/water.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: backgroundAnimation 70s linear infinite;
  padding: 40px 0;
}

.parentsinfo-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(49, 167, 221);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: #333;
  text-align: left;
}

.parentsinfo-container h1,
h2 {
  color: #051e37;
  position: relative;
  margin-bottom: 20px;
}

.parentsinfo-container h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  animation: fadeIn 1s ease-in-out;
}

.parentsinfo-container h2 {
  font-size: 1.4rem;
  margin: 40px 0 15px;
  font-weight: 600;
  color: #280231;
  display: inline-block;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  transition: border-color 0.3s ease;
}

.parentsinfo-container h2:hover {
  color: #c9b960;
  border-color: #051e37;
}

.parentsinfo-container p {
  color: #1d1212;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: justify;
}

