@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

.cover {
 
  width: 100%;
  height: 100vh; 
  padding: 10px;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/cover.jpg");
  justify-content: space-between; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Yatra One", system-ui;
  background-color: #000; 
}

.cover h1 {
  text-align: center;
  color: rgb(1, 44, 1);
}

.cover iframe {
  width: 100%;
  height: 100%; 
  border: none; 
}
