/* Popup overlay styling */
.login-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999000;
    cursor: pointer;
  }
  
  /* Popup box styling */
  .login-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    cursor: auto;
  }
  
  /* Login content styling */
  .login-content {
    margin-top: 10px;
  }
  
  .login-option, .signup-option {
    margin: 0px 0;
    color: black;
  }
  
  /* Button styling */
  .login-btn, .signup-btn {
    padding: 5px 15px;
    background-color: #1ace50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Button hover effect */
  .login-btn:hover, .signup-btn:hover {
    background-color: #0056b3;
  }
  
  /* Close button styling */
  .close-popup-btn {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  /* Close button hover effect */
  .close-popup-btn:hover {
    background-color: #c82333;
  }
  