@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

/* Popup overlay styling */
.parent-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999000;
}

/* Popup box styling */
.parent-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  z-index: 1001;
  cursor: auto;
  color: black;
  font-family: "Yatra One", system-ui;
}

/* Close button styling */
.close-popup-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

p {
  margin-top: 5px;
}
