/* pathway.css */
.pathway-container {
  width: 100%;
  height: 1000vh;
  background-color: #20b9ff;
  background-image: url("/src/img/new-pathway.jpg");
  background-repeat: repeat-y;
  background-position: center;
  position: relative; /* Ensure the overlay is positioned correctly */
}

/* Black gradient shadow at the top */
.pathway-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the gradient shadow as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1; /* Ensure it appears above the background */
  pointer-events: none; /* Ensures the gradient does not block interactions */
}
