.pathway-container {
  width: 80%;
  height:1000vh;
  background-image: url("/src/img/new-pathway.jpg");
  background-repeat: repeat-y;
  background-position: center;
  position: relative;
  margin: 0 auto;
  


}

.container-background {
  position: relative;
  width: 100%;
  height: 1000vh;
  background-repeat: repeat-y;
  background-position: center;
  background: linear-gradient(#20b9ff, rgba(44, 51, 153, 0.5)),
    url("/src/img/water.jpeg");
  background-size: 200% 200%;
  animation: backgroundAnimation 30s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Black gradient shadow at the top */
.container-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1; 
  pointer-events: none; 
}

.cs {
  position: relative;
  width: 150px;
  background-color: black;
  color: white;
  padding: 5px;
  left: 690px;
  top: 190px;
}

.signboard-one {
  width: 200px;
  height: 200px;
}
.signboard {
  left: 20%;
}

.signboard-one {
  background-image: url("./src/img/events.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 25%;
  top: 282em;
}

.signboard-two {
  background-image: url("./src/img/nyheder.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 54%;
  top: 87em;
}

.signboard-three {
  background-image: url("./src/img/kontakt.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 31%;
  top: 55em;
}

.signboard-four {
  background-image: url("./src/img/galleri.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 55%;
  top: 191em;
}
