.centered-image {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: auto;
  z-index: 2;
  padding-bottom: 300px;
}

@keyframes walking-man-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.walking-man-1 {
  animation: walking-man-animation 1s infinite;
}

.walking-man-2 {
  animation: walking-man-animation 1s infinite;
  animation-delay: 1.5s;
}
